.button {
  display: block;
  box-sizing: border-box;
  width: 220px;
  min-height: 55px;

  font-family: inherit;
  font-size: 20px;
  line-height: 40px;

  background-color: var(--gold);
  border: none;

  cursor: pointer;
}

.button:hover {
  color: white;
}

.button--transparent {
  color: var(--gold);
  background-color: transparent;
  border: 2px solid var(--gold);
}