.page-header {
  font-size: 20px;
  line-height: 50px;

  background: url('../assets/img/header-bg.jpg');
  background-repeat: no-repeat;
  background-position: center 0;
}

.page-header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;

  min-height: 90px;
}

.page-header__logo {
  height: 50px;
}

.page-header__lang {
  margin-left: 31px;
}