.section-title {
  margin: 0 auto 60px auto;

  font-family: "Merriweather", serif;
  font-weight: 700;
  font-size: 40px;

  color: var(--gold);
}

.section-title--lines {
  width: 50%;

  text-align: center;

  background-image: linear-gradient(var(--gold), var(--gold));
  background-size: 100% 2px;
  background-position: center;
  background-repeat: no-repeat;
}

.section-title span {
  padding: 0 20px;
 
  background-color: black;
}

@media (max-width: 800px) {
  .section-title {
    margin-bottom: 70px;

    font-size: 32px;
    line-height: 40px;
  }

  .section-title--lines {
    width: 100%;
    max-width: 364px;
  }
}
